<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FinderHover</string>
	<key>CFBundleIdentifier</key>
	<string>dev.koukeneko.FinderHover</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hant</string>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>FinderHover</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>FinderHover needs to control Finder to detect which file you're hovering over and display its information.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
